@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Sansita+Swashed:wght@500&display=swap'); 
/*@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap'); /*

/*body {
    font-family: Sansita Swashed;
    display: grid;
    grid-template-rows: auto auto auto; 
}*/




body {
font-family: League Gothic;
display: grid;
grid-template-rows: auto auto auto;
} 

header {
    display: flex;
    justify-content:space-between;
    background-color: hsl(240, 1%, 17%);
    color:hsl(0, 0%, 62%);
    padding: 12px 48px;
    
    

}

main{
    padding:12px, 48px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: hsl(0, 0%, 93%);
}

main > * {
    padding: 18px;
}

a{
    text-decoration: none;
    color:hsl(0, 0%, 62%);
}

.navigation  {
    display: flex;
}

.navigation a {
    text-transform: uppercase;
    text-decoration: none;
}
.navigation a:hover {
    color: hsl(32, 92%, 33%);
}
.actions a:hover {
    color: hsl(32, 92%, 33%);
}    
h1 .navigation{
    display: inline-block;
    align-items: center;
}

h1 {
    font-size: 35px;
    font-weight: 700;
}    

.navigation > ul{
display: flex;
flex-flow: row nowrap;
margin-left: 40px;
align-self: center;
}

.navigation li + li {
    margin-left: 30px;

}
.actions {
    align-self: center;
}
.actions a {
    font-size: 20px;
    
}
.actions a + a  {
    margin-left: 8px;
    
}
.actions a + a::before {
    content:" | " ;
    margin-right: 8px;
}    

li a {
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    color: hsl(0, 0%, 62%);
    font-size: 20px;
}   

.meta {
    display:flex;
    justify-content: center;
    
}

.logo {
    color: hsl(0, 0%, 62%);
    justify-content: center;
    align-items: center;
        
}

img {
    max-width: 100%;
}

.hero {
    position: relative; 
    
}

.hero .call-to-action {
    position:absolute;
    bottom: 20%;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.call-to-action {
    max-width: 100%;
}
.call-to-action a {
    font-size: 18px;
    display: inline-block;
    border: 2px solid hsl(0, 0%, 62%);
    border-radius: 33%;
    padding: 12px;
    margin-top: 16px;
    
    
}
.call-to-action a:hover{
    color: hsl(32, 92%, 33%);
}

.call-to-action p {
    font-size: 36px;
    color: hsl(0, 0%, 62%);
    max-width: fit-content;
    justify-content: center;
}

div .call-to-action {
    max-width: 100%;
    justify-content: center;
}

h2 {
    font-size: 48px;
}
h3 {
    font-size: 35px;
    font-weight: 800;
    }

p  {
    padding: 5px;
    
}    

h3 p {
    padding: 14px;


}

.grid-item-1 {
grid-row: 2 / span 1;
grid-column: 1 / span 1;
}    
.grid-item-2 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}
.grid-item-3 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}
.grid-item-4 {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
}  
    
    