@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Sansita+Swashed:wght@500&display=swap');

body {
font-family: League Gothic;
}

header {
    display: flex;
    justify-content: space-between;

.meta {
    display: flex;   
}

.actions {
  